* {
  box-sizing: border-box;
  color: #f0eeee;
  margin: 0;
  padding: 0;
}

body {
  background-color: #27292b;
  overflow: hidden;
  font-family: arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
nav {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: end;
  padding: 30px 10px;
}

.menu-text {
  font-size: 13px;
}

.menu-container_item {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.menu-container_item:hover {
  background-color: rgba(224, 227, 234, 0.08);
  cursor: pointer;
}

.menu-img_profile {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

ul {
  align-items: center;
  display: flex;
  list-style: none;
}

li {
  padding: 14px 8px;
  text-align: center;
}

a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
/* Header */

/* SearchBar */
.brandLogo {
  height: 92px;
  width: 272px;
}

.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 52vh;
  margin-top: 100px;
}

form {
  padding-top: 25px;
  position: relative;
}

input {
  background-color: #27292b;
  border-radius: 46px;
  border: 1px solid #5f6368;
  color: f7f8fa;
  font-size: 16px;
  height: 46px;
  margin-bottom: 30px;
  padding-left: 60px;
  width: 582px;
}

input:hover {
  box-shadow: 0 1px 3px 1px (200, 200, 200, 0.8);
}

input:focus {
  outline: none;
}

.searchIcon {
  left: 18px;
  position: absolute;
  top: 38px;
  width: 20px;
}

.voiceSearchIcon {
  cursor: pointer;
  left: 495px;
  position: absolute;
  top: 35px;
  width: 38px;
}

.ImageSearchIcon {
  cursor: pointer;
  left: 530px;
  position: absolute;
  top: 35px;
  width: 38px;
}

button {
  background-color: #333;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #f7f8fa;
  padding: 10px;
}

button:hover {
  border: 0.2px solid #989898;
  box-shadow: inset 0px 0.5px 0.5px #989898;
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  width: 310px;
}
/* SearchBar */

/* Footer */
footer {
  background-color: #181818;
  width: 100%;
}

.panel-container_top,
.panel-container_bottom {
  border-bottom: 1px solid #626467;
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 15px 30px;
}

.panel-container_bottom {
  border-bottom: none;
}

.panel-container_bottom ul li {
  padding-right: 22px;
}

.panel-container_bottom ul li a {
  font-size: 14px;
}

p {
  color: #f7f8fa;
  font-size: 15px;
}
/* Footer */
